k9s:
  refreshRate: 2
  maxConnRetry: 5
  enableMouse: false
  headless: false
  logoless: false
  crumbsless: false
  readOnly: false
  noIcons: false
  logger:
    tail: 100
    buffer: 5000
    sinceSeconds: 60
    fullScreenLogs: false
    textWrap: false
    showTime: false
  currentContext: gke_prd-cherre-domain-1_us-east4_prd-cherre-domain-20230926
  currentCluster: gke_prd-cherre-domain-1_us-east4_prd-cherre-domain-20230926
  clusters:
    gke_prd-cherre-domain-1_us-east4_prd-cherre-domain-20230926:
      namespace:
        active: all
        lockFavorites: false
        favorites:
        - default
      view:
        active: ingestinfrastructure
      featureGates:
        nodeShell: false
      shellPod:
        image: busybox:1.31
        command: []
        args: []
        namespace: default
        limits:
          cpu: 100m
          memory: 100Mi
      portForwardAddress: localhost
  thresholds:
    cpu:
      critical: 90
      warn: 70
    memory:
      critical: 90
      warn: 70
  screenDumpDir: /var/folders/sf/jj90lgk54979ybs8z3vj6m7c0000gp/T/k9s-screens-alexguanga
